{{ header }}
<div class="container">
	
		<div id="wizard">
			<ul>
				<li>Products</li>
				<li>Design</li>
				<li>Publish Shopify</li>
			</ul>
			<div>
            {{ products }}
			</div>
			<div>
            <!--{{design}}-->
			</div>
			<div>
            <!-- {{publish}}-->
			</div>
		</div>
	</div>
	<link href="catalog/view/javascript/shopify/bootstrap/css/bwizard.min.css" rel="stylesheet" />
    <script src="catalog/view/javascript/shopify/bootstrap/bt/js/jquery.min.js"></script>
	<script src="catalog/view/javascript/shopify/bootstrap/bt/bootstrap/js/bootstrap.min.js"></script>
	<script src="catalog/view/javascript/shopify/bootstrap/js/bwizard.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	   $("#wizard").bwizard();
	</script>
<style>
#caption-bg {
    background: #000;
    height: 100%;
    width:240px;
	padding:15px;
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:-15px;
}
.caption a{
	color:#CCC;
	}
	.caption p{
	color: #999;
	}
	
</style>
{{ footer }} 
