{{ header }}
<div id="account-order" class="container">
  <div id="product-product" class="container">
    <div id="product">
      <div class="theme-content">
        <div class="wpb_row  vc_row-fluid  mk-fullwidth-false add-padding-0 attched-false">
          <div style="" class="vc_span12 wpb_column column_container ">
            <div class="mk-shortcode mk-padding-shortcode" style="height:20px"></div>
            <div class="clearboth"></div>
            <div id="mk-text-block-221" style=" margin-bottom:0px;text-align: left;" class="mk-text-block  "> {{welcome_tips}}
              <div class="clearboth"></div>
            </div>
            <div class="clearboth"></div>
          </div>
          <div style="background-color:#F8F8F8;border:1px solid #DDD;padding:15px 5px 5px 5px;margin-top:15px; " class="vc_span12 wpb_column column_container ">
          
            <b style="margin-left:25px;">{{your_vivajean_profits_orders}}</b>:
           
            <div class="wpb_row  vc_row-fluid  mk-fullwidth-false add-padding-0 attched-false" style="margin-top:10px;margin-bottom:20px; padding-left:20px; padding-right:20px;">
              
            <div class="vc_span2 wpb_column column_container" style="float:left; width:20%; padding:10px;">
              <div  class="orderib" data-filter="Pending">
                <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-moon-file-9"></i> </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_pending}} </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:32px;"> {{pending}} </div>
              </div>
            </div>
            <div class="vc_span2 wpb_column column_container"  style="float:left; width:20%; padding:10px;">
              <div  class="orderib" data-filter="InProd">
                <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-moon-file-9"></i> </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_in_production}} </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:32px;"> {{in_production}} </div>
              </div>
            </div>
            <div class="vc_span2 wpb_column column_container"  style="float:left; width:20%; padding:10px;">
              <div  class="orderib" data-filter="Shipped">
                <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-moon-file-9"></i> </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_shipped}} </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:32px;"> {{shipped}} </div>
              </div>
            </div>
            <div class="vc_span2 wpb_column column_container"  style="float:left; width:20%; padding:10px;">
              <div  class="orderib" data-filter="OnHold">
                <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-moon-file-9"></i> </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_on_hold}} </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:32px;"> {{on_hold}} </div>
              </div>
            </div>
            <div class="vc_span2 wpb_column column_container"  style="float:left; width:20%; padding:10px;" >
              <div  class="orderib" data-filter="Cancelled">
                <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-moon-file-9"></i> </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_cancelled}} </div>
                <div style=" margin-bottom:10px;text-align: center;font-size:32px;"> {{cancelled}} </div>
              </div>
            </div>
          </div>
          <b style="margin-left:30px; padding-top:30px;">{{payments_sales}}</b>:
          <div class="wpb_row  vc_row-fluid  mk-fullwidth-false add-padding-0 attched-false" style="margin-top:10px;margin-bottom:100px; padding-left:10px;">
             <div style="" class="vc_span1 wpb_column column_container "> &nbsp; </div>
            <div>
              <div class="vc_span2 wpb_column column_container"  style=" width:18%; float:left; margin-left:20px" >
                <div style="background-color:#FFF;border:1px solid #DDD;padding:5px 0 5px 0" >
                  <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-icon-money" style="background-image:url(../image/notepad-117597_640.png)"></i> </div>
                  <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_aug_total}} </div>
                  <div style=" margin-bottom:10px;text-align: center;font-size:24px;"> {{aug_total}} </div>
                </div>
              </div>
              <div class="vc_span2 wpb_column column_container" style=" width:18%; float:left; margin-left:20px" >
                <div  style="background-color:#FFF;border:1px solid #DDD;padding:5px 0 5px 0">
                  <div style=" margin-bottom:10px;text-align: center;font-size:24px"> <i class="mk-icon-money"></i> </div>
                  <div style=" margin-bottom:10px;text-align: center;font-size:16px"> {{text_aug_charges}} </div>
                  <div style=" margin-bottom:10px;text-align: center;font-size:24px;"> {{aug_charges}} </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearboth"></div>
        </div>
      </div>
    </div>
    <div class="wpb_row  vc_row-fluid  mk-fullwidth-false add-padding-0 attched-false">
      <div style="text-align:center" class="vc_span12 wpb_column column_container "> 
        
        <!--
App Start
-->
        <div style="background-color:#F8F8F8;border:1px solid #DDD;padding:15px 5px 5px 5px;margin-top:20px" class="vc_span12 wpb_column column_container ">
          <div class="clearboth"></div>
          <div class="mk-shortcode mk-padding-shortcode" style="height:20px"></div>
          <div class="clearboth"></div>
          <div class="wpb_row  vc_row-fluid  mk-fullwidth-false add-padding-0 attched-false">
            <div style="" class="vc_span1 wpb_column column_container "> </div>
            <div   style=" float:left; width:50%; padding-left:50px; padding-right:25px;">
              <div  class="button-group"> <a href="index.php?route=shopify/products" target="_self" class="btn btn-primary btn-lg btn-block" style="width: auto;"> <i class="mk-moon-upload-5"></i>{{add_products}}</a> </div>
              <div class="mk-button-align fullwidth-button center" style="margin-top:20px; "  > <a href="index.php?route=shopify/products" target="_self" class="btn btn-primary btn-lg btn-block" style="background: #FC3;color: #900"> <i class="mk-moon-airplane-2"></i>{{add_express_line_products}}</a> </div>
            </div>
            <div class="vc_span4 wpb_column column_container "
    style=" float:left; width:50%;padding-left:50px; padding-right:25px;">
              <div class="mk-button-align fullwidth-button center"> <a href="index.php?route=shopify/orders" target="_self"  class="btn btn-primary btn-lg btn-block"> <i class="mk-icon-reorder"></i>{{view_orders}}</a></div>
              <div class="clearboth"></div>
              <div class="mk-shortcode mk-padding-shortcode" style="height:20px"></div>
              <div class="clearboth"></div>
              <div class="mk-button-align fullwidth-button center"><a href="index.php?route=shopify/order" target="_self"  class="btn btn-primary btn-lg btn-block"> <i class="mk-icon-list-alt"></i>{{acct_balance_transactions}}</a></div>
              <div class="clearboth"></div>
              <div class="mk-shortcode mk-padding-shortcode" style="height:20px"></div>
              <div class="clearboth"></div>
              <div class="mk-button-align fullwidth-button center"><a href="index.php?route=shopify/accountsettings" target="_self"  class="btn btn-primary btn-lg btn-block"> <i class="mk-moon-cog-2"></i>{{store_account_settings}}</a></div>
              <div class="clearboth"></div>
              <div class="mk-shortcode mk-padding-shortcode" style="height:20px"></div>
              <div class="clearboth"></div>
              <div class="mk-button-align fullwidth-button center"><a href="index.php?route=shopify/reports" target="_self"  class="btn btn-primary btn-lg btn-block"> <i class="mk-moon-cog-2"></i>{{reports}}</a></div>
            </div>
            <!--
	<div style="" class="vc_span1 wpb_column column_container ">
			
	</div>
	--> 
            
          </div>
          <div class="clearboth"></div>
          <div class="mk-shortcode mk-padding-shortcode" style="height:22px"></div>
          <div class="clearboth"></div>
          <div class="wpb_row  vc_row-fluid  mk-fullwidth-false add-padding-0 attched-false">
            <div style="text-align:center" class="vc_span12 wpb_column column_container ">
              <div id="mk-text-block-221" style=" margin-bottom:0px;text-align: left; " class="mk-text-block  "> <a href="faqs/" target="_blank" style="text-decoration:underline;font-weight:bold;color:#479ccf ; display:none">Frequently Asked Questions</a><br>
                <br>
                
                <a href="app-resources/" target="_blank" style="text-decoration:underline;font-weight:bold;color:#479ccf; display:none">Watch Our How-To Video on Adding Products</a><br>
                <br>
                <a href="product-specs-and-pricing/" target="_blank" style="text-decoration:underline;font-weight:bold;color:#479ccf; display:none">Product Specifications and Pricing</a><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
            <div style="text-align:center" class="vc_span12 wpb_column column_container "> </div>
          </div>
          <div class="clearboth"></div>
          <div class="mk-shortcode mk-padding-shortcode" style="height:22px"></div>
          <div class="clearboth"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<style type="text/css">
    .button-204 {
                margin-bottom: 100px;
                margin-top: 0px;

        }

        .button-204 {
                background-color:#479ccf;

        }
        
         .button-204:hover {
                background-color:#4291c1;

        }
        .button-204.three-dimension  {
             box-shadow: 0px 3px 0px 0px #397da6;
        }
        .button-204.three-dimension:active  {
             box-shadow: 0px 1px 0px 0px #397da6;
        } 
	.button-204a {
                margin-bottom: 100px;
                margin-top: 0px;

        }

        .button-204a {
                background-color:#FFC300;

        }
        
         .button-204a:hover {
                background-color:#F2BE00;

        }
        .button-204a.three-dimension  {
             box-shadow: 0px 3px 0px 0px #D6A800;
        }
        .button-204a.three-dimension:active  {
             box-shadow: 0px 1px 0px 0px #D6A800;
        }
	.exp-color {
		color: #ff0000 !important;
		
		}
	.exp-color2 {
		color: #ff0000 !important;
		text-shadow: 0 1px rgba(0, 0, 0, 0.4);
		}
		 .orderib{
			background-color:#FFF;border:1px solid #DDD;padding:5px 0 5px 0
			}
	.orderib:hover {
           background-color: #87CEFA;border:1px solid #DDD;padding:5px 0 5px 0;

        }
    </style>
<script type="text/javascript">
$('.orderib').on('click', function() {
	window.location.href='index.php?route=shopify/orders/filter&filter_order_status_id='+ this.getAttribute('data-filter'); 
});

</script> 
{{ footer }} 