
	{% if products %}
  <div class="row">
      {% for product in products %}
      
      <div class="span3">
	      		
	      		<div class="widget">
	      			
	      			<div class="widget-content">
	      				<div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                       
            <div id="caption-bg">
           
              <div class="caption">
                <h4 ><a href="{{ product.href }}">{{ product.name }}</a></h4>
               <!-- <p>{{ product.description }}</p>-->
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                {% if product.rating %}
                <div class="rating"> {% for i in 1..5 %}
                  {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                  {% endfor %} </div>
                {% endif %} </div>
              <div class="button-group" style="display:none">
                <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
		      		</div> <!-- /widget-content -->
		      		
	      		</div> <!-- /widget -->
	      		
      		</div> <!-- /span4 -->
      
      

        {% endfor %} </div>
        
     <!-- <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>-->
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
     
      {% endif %}
      </div>
    </div>

<style>
#caption-bg {
    background: #000;
    height: 100%;
    width:240px;
	padding:15px;
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:-15px;
}
.caption a{
	color:#CCC;
	}
	.caption p{
	color: #999;
	}
</style>